---
import Accessories from "../components/Accessories.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import ModelS from "../components/ModelS.astro";
import ModelThree from "../components/ModelThree.astro";
import ModelX from "../components/ModelX.astro";
import ModelY from "../components/ModelY.astro";
import PowerWall from "../components/PowerWall.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelThree />
    </div>
    <div class="snap-center">
      <ModelS />
    </div>
    <div class="snap-center">
      <ModelX />
    </div>
    <div class="snap-center">
      <PowerWall />
    </div>
    <div class="snap-center">
      <Accessories />
    </div>
  </main>
</Layout>
