---
import Accessories from "../components/Accessories.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import ChargeSection from "../components/ChargeSection.astro";
import PowerWall from "../components/PowerWall.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection
        title="Model Y"
        subtitle="Programe una consulta virtual"
        id="model-y"
        color="black"
        img="model-y"
      />
    </div>
    <div class="snap-center">
      <ChargeSection
        title="Model 3"
        subtitle="Programe una consulta virtual"
        id="model-3"
        color="black"
        img="model-3"
      />
    </div>
    <div class="snap-center">
      <ChargeSection
        title="Model S"
        subtitle="Programe una consulta virtual"
        id="model-s"
        color="black"
        img="model-s"
      />
    </div>
    <div class="snap-center">
      <ChargeSection
        title="Model X"
        subtitle="Programe una consulta virtual"
        id="model-x"
        color="black"
        img="model-x"
      />
    </div>
    <div class="snap-center">
      <PowerWall />
    </div>
    <div class="snap-center">
      <Accessories />
    </div>
  </main>
</Layout>
