---
import Section from "./Section.astro";
---

<Section
  title="Accesorios"
  subtitle=""
  color="black"
  id="accesorios"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-black bg-black text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors duration-300 hover:border-gray-800 hover:bg-gray-800"
      href="#"
    >
      Comprar ahora</a
    >
    <!-- <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Saber más</a
    > -->
  </div>

  <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="accessories.avif"
    id="bg-image-accessories"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  var imageElement = document.querySelector("#bg-image-accessories") as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "accessories.webp";
  } else {
    imageElement.src = "accessories.avif";
  }
</script>
