<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
          href="#"
        >
          Explorar inventario</a
        >
        <a
          class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
          href="#"
        >
          Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
