---
import Section from "./Section.astro"
---

<Section
  title="Disfrute de tesla"
  subtitle="Programe una prueba de conducción hoy mismo"
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Prueba de conducción</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
